<h1>Welcome to fake instagram</h1>

<form action='/post/create'>
    제목 : <input type='text' name='title'></br>
    내용 : <input type='text' name='content'></br>
    <input type='submit' value='글쓰기'>
</form>

<table>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>내용</th>
        <th>시간</th>
        <th>기능</th>
    </tr>
    
    <% @posts.each do |post| %>
    <tr>
        <td> <%= post.id %> </td>
        <td> <%= post.title %> </td>
        <td> <%= post.content %> </td>
        <td> <%= post.created_at %></td>
        <td> <a href='/post/show/<%= post.id %>'>[더보기]</a> </td>
        <td> <a href='/post/modify/<%= post.id %>'>[수정]</a> </td>
        <!-- <td> <a href='/post/destroy?id=<%= post.id %>'>[X]</a> </td> -->
        <td> <a href='/post/destroy/<%= post.id %>'>[삭제]</a> </td>
    </tr>
    <% end %>
    
</table>