<div class="container">
    
    <h1>Welcome to fake instagram</h1>
    
    <form action='/post/create'>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력해 주세요">
        </div>
    
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name='content' rows="3"></textarea>
        </div>
    
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
    
    <div class="form-group">
        
    </div>
    
    <div class="card">
        <% @posts.reverse.each do |post| %>
            <div class="card-body">
                <h4 class="card-title"><%= post.title %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= post.id %> 번째 글</h6>
                <p class="card-text"><%= post.content %></p>
                <%= post.created_at %></br>
                <a href='/post/show/<%= post.id %>' class="btn btn-outline-dark btn-sm">더보기</a>
                <a href='/post/modify/<%= post.id %>' class="btn btn-outline-primary btn-sm">수정</a>
                <!-- <td> <a href='/post/destroy?id=<%= post.id %>'>[X]</a> </td> -->
                <a href='/post/destroy/<%= post.id %>' class="btn btn-outline-danger btn-sm">삭제</a>
            </div>
        <% end %>
    </div>

</div>