<h1><%= @post.id %>번째 글 상세보기</h1>
        
<p>번호 : <%= @post.id%> </p>
<p>제목 : <%= @post.title %></p>
<p>내용 : <%= @post.content %></p>
<p>생성 시간 : <%= @post.created_at %></p>
<p>수정 시간 : <%= @post.updated_at %></p>

<a href='/'> 홈으로 </a>
<a href='/post/modify/<%= @post.id %>'> 수정 </a>